<div class="container">
  <div class="welcome">
    <h1>
       <%= t 'titre1_html' %>
    </h1>
    <p> 
      <%= t 'pres_html' %>
    </p>
   <div class="vignette">
      
      <h2> <%= t 'titre2' %> </h2>
     <a href="<%= story_path %>" class="fancyframe">
      <%= image_tag "steeldrum.jpg" %>
     </a><br><br>
     <%= t 'pres2_html' %> 
     </div>

    <div class="vignette">
      
      <h2> <%= t 'titre3' %></h2>
      <%= image_tag "concert.jpg" %><br><br>
      <%= t 'pres3_html' %>
    </div>

    <div class="vignette">

        <h2> <%= t 'titre4' %> </h2>
      <%= image_tag "stage.jpg" %><br><br>
      <%= t 'pres4_html' %>
    </div>

    <div class="vignette">

        <h2> <%= t 'titre5' %> </h2>
      <%= image_tag "accordage.jpg" %><br><br>
      <%= t 'pres5_html' %>
    </div>

    <div class="vignette">
        <h2> <%= t 'titre6' %></h2>
      <%= image_tag "studio.jpg" %><br><br>
      <%= t 'pres6_html' %>
    </div>

    <div class="vignette">
        <h2> <%= t 'titre7' %> </h2>
      <%= image_tag "conference.jpg" %><br><br>
      <%= t 'pres7_html' %>
    </div>

    <br><br>
  </div>
</div>