<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @galery.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @galery.description %>
</p>

<p>
  <strong>Image:</strong>
  <!--%= image_tag galery.image_url.to_s %-->
  mauvais endroit
</p>


<%= link_to 'Edit', edit_galery_path(@galery) %> |
<%= link_to 'Back', galeries_path %>
