<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @concert.date %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @concert.nom %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @concert.ville %>
</p>

<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
